#Navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    gap: 0.5em; //间距
    grid-template-columns: repeat(3, 5em); //单元格的宽度
    grid-template-rows: 2em; //高
    background-color: var(--navbar_bg); //原生css变量,不会在编译期替换

    a {
        line-height: $grid-template-rows; //居中
        text-align: center;
        color: white;
        text-decoration: none; //超链接下划线

        &:hover {
            
            background-color: var(--button_bg);
            border: 1px solid var(--button_bg);
            border-radius: 5em;
        }
    }
}